<% include ../partials/header %>

<div class="container-fluid text-center log-bg">
  <div class="wrapper">
    <form action="/ads/<%= ad._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

      <div class="form-row mt-ads">
        <div class="form-group col-sm-6 mx-auto">
          <select class="custom-select font-weight-bold" name="ads[mainCategory]" required>
            <option value="<%=ad.mainCategory%>" selected><%=ad.mainCategory%></option>
            <option value="Kínál">Kínál</option>
            <option value="Keres">Keres</option>
          </select>
        </div>
      </div>

        <div class="form-group col-sm-6 mx-auto">
          <input class="form-control" type="text" name="ads[title]" value="<%=ad.title%>" maxlength="70" required>
        </div>

        <div class="form-group col-sm-6 mx-auto">
          <input class="form-control" type="text" name="ads[price]" value="<%=ad.price%>" placeholder="ár">
        </div>

        <div class="form-group col-sm-6 mx-auto">
          <input class="form-control" type="text" name="ads[city]" value="<%=ad.city%>" required>
        </div>

        <div class="form-group col-sm-6 mx-auto">
          <input class="form-control" type="text" name="ads[phone]" value="<%=ad.phone%>" required>
        </div>

        <div class="form-group">
          <h6>Kategória:</h6>
          <div class="form-group col-sm-6 mx-auto">
          <select class="custom-select font-weight-bold" name="ads[category]">
            <option value="<%=ad.category%>" selected><%=ad.category%></option>
            <option value="Állás">Állás</option>
            <option value="Ingatlan">Ingatlan</option>
            <option value="Szolgáltatás">Szolgáltatás</option>
            <option value="Műszaki">Műszaki cikk</option>
            <option value="Oktatás">Oktatás</option>
            <option value="Jármű">Jármű</option>
            <option value="Egyéb">Egyéb</option>
          </select>
        </div>
        </div>

      <div class="form-group col-sm-6 mx-auto">
        <div class="custom-file">
          <label for="image" class="custom-file-label text-left"><i class="fas fa-image"></i> Képfeltöltés </label>
          <input type="file" class="custom-file-input" id="image" name="image" accept="image/*" value="<%=ad.image%>">
        </div>
      </div>

      <div class="form-group col-sm-6 mx-auto">
       
        <textarea id="summernote" rows="5" class="form-control" name="ads[description]" required><%= ad.description %></textarea>
       
      </div>
      <button class="btn btn-primary my-2">Módosítás</button>
      <a class="btn btn-md btn-dark" href="/ads/<%= ad._id %>">Vissza</a>
    </form>
  </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
<script>
  $(document).ready(function () {
    $('#summernote').summernote();
  });
</script>
</body>
</header>