<% include ../partials/header %>

<div class="container-fluid text-center log-bg">
  <div class="wrapper">
    <form action="/ads/<%= ad._id %>?_method=PUT" method="POST">

      <div class="form-row mt-ads">
        <div class="form-group mx-auto">
          <select class="custom-select" name="ads[mainCategory]">
            <option value="keres" selected>Keres</option>
            <option value="kínál">Kínál</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mx-auto">
          <input class="form-control" type="text" name="ads[title]" value="<%=ad.title%>" maxlength="75" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mx-auto">
          <input class="form-control" type="number" name="ads[price]" value="<%=ad.price%>" min="1">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mx-auto">
          <input class="form-control" type="text" name="ads[city]" value="<%=ad.city%>">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mx-auto">
          <input class="form-control" type="text" name="ads[phone]" value="<%=ad.phone%>">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12 text-center">
          <h5>Kategória:</h5>
          <div class="radios">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="ads[category]" id="inlineRadio1" value="állás"
                required>
              <label class="custom-control-label" for="inlineRadio1">Állás</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="ads[category]" id="inlineRadio2" value="Ingatlan">
              <label class="custom-control-label" for="inlineRadio2">Ingatlan</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="ads[category]" id="inlineRadio3" value="Szolgáltatás">
              <label class="custom-control-label" for="inlineRadio3">Szolgáltatás</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="ads[category]" id="inlineRadio4" value="Műszaki cikk">
              <label class="custom-control-label" for="inlineRadio4">Műszaki cikk</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="ads[category]" id="inlineRadio5" value="Képzés">
              <label class="custom-control-label" for="inlineRadio5">Képzés</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="ads[category]" id="inlineRadio6" value="Egyéb">
              <label class="custom-control-label" for="inlineRadio6">Egyéb</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group mx-auto">
          <input class="form-control" type="text" name="ads[image]" value="<%=ad.image%>">
        </div>
      </div>

      <div class="form-row">
        <textarea rows="5" class="form-control" name="ads[description]" required><%= ad.description %></textarea>
      </div>
      <button class="btn btn-primary my-2">Módosítás</button>
      <a class="btn btn-md btn-dark" href="/ads/<%= ad._id %>">Vissza</a>
    </form>
  </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
  crossorigin="anonymous"></script>
</body>
</header>