<% include ../partials/header %>

<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5631469285390271",
    enable_page_level_ads: true
  });
</script> -->
<div class="index-bg">
<div class="jumbotron index">
  <!-- <p class="my-5 py-5"></p> -->
  <h1 class="display-3 pt-5 text-light">Nógrád Apró</h1>
  <h2 class="py-3 text-light">A Nógrád megyei apróhirdetési oldal.</h2>
  <p class="lead">
    <a class="btn btn-light btn-lg" id="ads-flow" href="/help" role="button">Súgó</a>
  </p>
</div>
</div>

<div class="container-fluid main-content">

  <div class="row">

    <% ads.forEach(function(ad) { %>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="card ads-card mb-5">
        <div class="card-body p-0">
          <a href="/ads/<%= ad._id %>">
            <h5 class="card-title font-weight-bold bg-dark text-light text-center p-2 m-0">
              <%= ad.title.length > 50 ? ad.title.substring(0,55)+'...' : ad.title %>
            </h5>
          </a>
          <a href="/ads/<%= ad._id %>">
            <div class="ads-item ads-bg">
              <i class="fas fa-eye fa-4x"></i><img src="<%= ad.image === '' ? 'https://res.cloudinary.com/maja0426/image/upload/v1552336982/Aprohirdetes/no-image-icon-11.png' : ad.image %>"
                class="card-img" alt="Nógrád Apró apróhiretés, <%=ad.title%>, <%=ad.city%>"></div>
          </a>
          <div class="mt-2 mx-2">
            <a href="/ads/mainCategory/<%= ad.mainCategory %>"><span class="badge <%= ad.mainCategory === 'Kínál' ? 'badge-warning' : 'badge-dark text-warning'%>">#
                <%= ad.mainCategory %></span></a>
            <a href="/ads/category/<%= ad.category %>"><span class="badge badge-dark">#
                <%= ad.category %></span></a>
            <a href="/ads/city/<%= ad.city %>"><span class="badge badge-primary">#
                <%= ad.city %></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 py-0">
            <p class="ml-2 mt-2"><i class="fas fa-calendar"></i>
              <%= moment(ad.createdAt).fromNow() %><br><span class=""><i class="fas fa-money-bill-alt"></i>
                <%= ad.price === '' ? 'Nincs ár' : ad.price %><small> Ft.</small></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

  <div class="">
    <% if (pages && pages > 0) { %>
    <ul class="pagination justify-content-center mt-4">
      <% if (current == 1) { %>
      <li class="page-item disabled"><a class="page-link">Első</a></li>
      <% } else { %>
      <li><a class="page-link" href="/ads<%if(search){%>?search=<%=search%><%}%>">Első</a></li>
      <% } %>

      <% if (current == 1) { %>
      <li class="page-item disabled"><a class="page-link">«</a></li>
      <% } else { %>
      <li><a class="page-link" href="/ads?page= <%=Number(current) - 1 %>
    <%if(search){%>&search=
    <%=search%>
    <%}%>">«</a></li>
      <% } %>

      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
      <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %>
      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
      <% if (i == current) { %>
      <li class="active"><a class="page-link">
          <%= i %></a></li>
      <% } else { %>
      <li><a class="page-link" href="/ads?page=<%= i %><%if(search){%>&search=<%=search%><%}%>">
          <%= i %></a></li>
      <% } %>
      <% if (i == Number(current) + 4 && i < pages) { %>
      <li class="page-item disabled"><a>...</a></li>
      <% } %>
      <% } %>

      <% if (current == pages) { %>
      <li class="page-item disabled"><a class="page-link">»</a></li>
      <% } else { %>
      <li><a class="page-link" href="/ads?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
      <% } %>

      <% if (current == pages) { %>
      <li class="page-item disabled"><a class="page-link">Utolsó</a></li>
      <% } else { %>
      <li><a class="page-link" href="/ads?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Utolsó</a></li>
      <% } %>
    </ul>
    <% } %>
  </div>
  <div class="row">
    <div class="col-12 text-center my-3">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5631469285390271" data-ad-slot="7864110947"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

<% include ../partials/footer %>