<% include ../partials/header %>

<div class="container-fluid show-page">

<hr class="my-4">
<h2 class="text-center">
  <b class="text-primary">
      <%= user.username %></b> hirdetései:
</h2>
<p class="lead text-center"> <%= ads.length %> db.</p>
<hr class="my-4">

<div class="row">

  <% ads.reverse().forEach(function(ad) { %>
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="card ads-card mb-5">
      <div class="card-body p-0">
        <a href="/ads/<%= ad._id %>">
          <h5 class="card-title font-weight-bold bg-dark text-light text-center p-2 m-0">
            <%= ad.title.length > 45 ? ad.title.substring(0,45)+'...' : ad.title %>
          </h5>
        </a>
        <div class="ads-image">
          <a href="/ads/<%= ad._id %>">
          <div class="image-wrapper">
          <img src="<%= ad.image === '' ? 'https://res.cloudinary.com/maja0426/image/upload/v1550587836/Aprohirdetes/NoImageFound.png' : ad.image %>"
              class="card-img" alt="User photo">
              <div class="overlay">
                <div class="image-icon"><i class="fas fa-eye fa-4x text-dark"></i></div>
              </div>
          </div>
          </a>
          </div>
        <div class="mt-2 mx-2">
            <a href="/ads/mainCategory/<%= ad.mainCategory %>"><span class="badge <%= ad.mainCategory === 'Kínál' ? 'badge-warning text-black' : 'badge-black text-warning'%>">#
              <%= ad.mainCategory %></span></a>
              <a href="/ads/category/<%= ad.category %>"><span class="badge badge-dark">#
                <%= ad.category %></span></a>
            <a href="/ads/city/<%= ad.city %>"><span class="badge badge-primary">#
              <%= ad.city %></span></a>
          </div>
      </div>
      <div class="row">
        <div class="col-12 py-0">
          <p class="ml-2 mt-2"><i class="fas fa-clock"></i>
            <%= moment(ad.createdAt).format('YYYY.MM.D.') %><span class="float-right mr-2"><i class="fas fa-money-bill-alt"></i>
              <%= ad.price === '' ? 'Nincs ár' : ad.price %><small> Ft.</small></span>
          </p>
        </div>
      </div>
      <!-- <hr class="bg-dark" style="height: 5px;"> -->
    </div>
  </div>
  <% }) %>
</div>

<div class="text-center mt-3">
  <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
  <form action="/user/<%= user._id %>?_method=DELETE" method="POST">
    <button class="btn btn-lg btn-danger">Felhasználói fiók törlése</button>
<div class="form-group mt-3 mb-3">
  <input type="checkbox" class="form-check-input" id="check1" required>Meggondoltam, törölöm!
</div>
  </form>
  <% } %>
</div>
</div>

<% include ../partials/footer %>