<% include ../partials/header %>

<div class="container">

  <hr class="my-4">
  <h2 class="text-center">
    <%= ad.title %>
  </h2>
  <h4 class="text-center">
    <b class="text-primary">
      <a href="/user/<%= ad.author.id %>"><%= ad.author.username %></a></b> hirdetése
  </h4>
  <hr class="my-4">


  <div class="row">
    <div class="col-sm-6 show-img">
      <img src="<%= ad.image === '' ? 'https://ssihplc.com/wp-content/uploads/no-image.png' : ad.image %>" class="img-fluid rounded"
        alt="users picture">
    </div>
    <div class="col-sm-6 mx-auto">
      <p class="lead my-3">
        <%= ad.description %>
      </p>
      <ul class="list-group list-group-flush mb-5">
        <li class="list-group-item lead" custom-title="Telefonszám"><i class="fas fa-phone"></i><a class="float-right" href="tel:+36705301130">
            <%= ad.phone %></a></li>
        <li class="list-group-item lead" custom-title="Hirdetés helye"><i class="fas fa-city"></i><span class="float-right">
            <%= ad.city %></span></li>
        <li class="list-group-item lead" custom-title="Vételár/egyéb ár"><i class="fas fa-money-bill-alt"></i><span class="float-right">
            <%= ad.price === '' ? 'Nincs ár' : ad.price +' Ft.'%></span></li>
        <li class="list-group-item lead" custom-title="Hirdetés feladásának ideje"><i class="fas fa-clock"></i><span class="float-right">
            <%= moment(ad.createdAt).format('YYYY.MM.D.') %></span></li>
      </ul>
      <div class="btn-wrapper col-12 mx-auto text-center">
        <% if(currentUser && ad.author.id.equals(currentUser._id)) { %>
        <a href="/ads/<%= ad._id %>/edit" class="btn btn-lg btn-primary">Szerkeszt</a>
        <form class="d-inline-block" action="/ads/<%= ad._id %>?_method=DELETE" method="POST">
          <button class="btn btn-lg btn-outline-danger my-2">Törlés!</button>
        </form>
        <% } %>
        <a href="/ads" class="btn btn-lg btn-dark">Vissza</a>
      </div>
    </div>
  </div>

  <hr class="mt-5">
  <h2 class="text-center">Komentek</h2>
  <hr>

  <div id="disqus_thread" class="mt-5"></div>
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement('script');
      s.src = 'https://http-bgyapro-demo-herokuapp-com-ads.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>

<% include ../partials/footer %>