<% include ../partials/header %>

<div class="container-fluid main-content">

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="text-center">
      <h5 class="text-center font-weight-bold mt-2 bg-dark text-light p-3">Regisztrált felhasználók:
        <%= users.length %>
      </h5>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="list-group-flush">
            <% users.forEach(function(user) { %>
            <li class="list-group-item"><b>Név:</b>
              <%= user.username %></b>
              <form class="float-right ml-3" action="/user/<%= user._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Felhasználó törlése</button>
                <input class="ml-3" type="checkbox" class="form-check-input" required>
              </form>
              <a href="/user/<%= user._id %>" class="btn btn-sm btn-info float-right">Hirdetései</a>
              <span class="float-right mr-3"><b>Email: </b><%= user.email %></span>
            </li>
            <% }) %>
          </ul>
        </div>
      
      </div>

    </div>
    <div class="col-md-12 mt-4">
      <div class="text-center">
      <h5 class="font-weight-bold bg-dark text-light p-3">Hirdetések:
        <%= ads.length %>
      </h5>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="list-group-flush">
            <% ads.forEach(function(ad) { %>
            <li class="list-group-item"><b>
                <%= ad.author.username %>: </b>
              <%= ad.title %>
              <form class="float-right" action="/ads/<%= ad._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Hirdetés törlése</button>
                <input class="ml-2" type="checkbox" class="form-check-input" required>
              </form>
              <a href="/ads/<%= ad._id %>" class="btn btn-sm btn-info float-right mr-3">Megnézem</a>
            </li>
            <% }) %>
          </ul>
        </div>

      </div>
    </div>

  </div>

</div>

<% include ../partials/footer %>