<% include ../partials/header %>

<div class="container-fluid main-content">


  <div class="row mt-4">
    <div class="col-md-12">
      <h5 class="text-center font-weight-bold">Regisztrált felhasználók:
        <%= users.length %>
      </h5>
      <div class="row">
        <div class="col-6">
          <ul class="list-group-flush">
            <% users.forEach(function(user) { %>
            <li class="list-group-item"><b>Név:</b>
              <%= user.username %></b>
              <form class="float-right ml-3" action="/user/<%= user._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Törlés!</button>
                <input class="ml-3" type="checkbox" class="form-check-input" required> Biztos
              </form><a href="/user/<%= user._id %>" class="btn btn-sm btn-info float-right">Hirdetései</a>
            </li>
            <% }) %>
          </ul>
        </div>
        <div class="col-6">
          <ul class="list-group-flush">
            <% users.forEach(function(user) { %>
            <li class="list-group-item"><b>Email:</b>
              <%= user.email %></b>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-12 mt-4">
      <h5 class="text-center font-weight-bold">Hirdetések:
        <%= ads.length %>
      </h5>
      <div class="row">
        <div class="col-6">
          <ul class="list-group-flush">
            <% ads.forEach(function(ad) { %>
            <li class="list-group-item"><b>
                <%= ad.author.username %>: </b><small class="">
                <%= ad.title %></small>
              <form class="float-right" action="/ads/<%= ad._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Törlés!</button>
                <input class="ml-3" type="checkbox" class="form-check-input" required> Biztos
              </form>
            </li>
            <% }) %>
          </ul>
        </div>
        <div class="col-6">
          <ul class="list-group-flush">
            <% ads.forEach(function(ad) { %>
            <li class="list-group-item"><b>Szöveg: </b><small class="">
                <%= ad.description.substring(0,70) %>...</small>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>

<% include ../partials/footer %>